<div class="container user-block text-center buffer-top">
    <div class="row">

        <div class="row">
            <div class="col-md-12">
                <div class="post-block-full">
                    <div class="post-name">
                        <h1><%= @post.name %> @ <%= @authors.find_by(id: @post.user_id).username %></h1>  <br>
                    </div>
                    <div class="post-text">
                        <p><%= @post.text %></p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-12">
                
               <div class="scroller">
                    <% @post.photos.each do |photo| %>
                   <div>
                        <%= image_tag(photo.url, :class => "post-photo") %>
                    </div>
                    <% end %>
               </div>
                
            </div>  
        </div>

   
    </div>  
</div>

