/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require slick
 *= require_tree .
 *= require_self
 */

 body {
  background: #f1e6e4;
 }

 .scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}

 .avatar {
    width: 100%;
    height: 100%;
    border: 10px solid;
    border-radius: 100%;
 }

 .comment-block{
  margin-bottom: 20px;
  padding: 10px;
  background: #aaacff;
  border: 0px;
  border-radius: 20px 20px 20px 20px;
 }

 .comment-text{
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;
 }
 
 .avatar-min {
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-radius: 100%;
    margin-top: 20px;
 }

 .avatar-image {
   width: 100%;
   height: 100%;
   margin: 10px;
 }

 .user-block {

 }

 .inline {
   display: inline;
 }

 .buffer-top {
   margin-top: 50px;
 }

 .post-block {
  margin-bottom: 20px;
  padding: 10px;
  background: #aaacff;
  border: 0px;
  border-radius: 0px 20px 20px 0px;
  height: 300px;
 }

 .post-block-full {
  margin-bottom: 20px;
  padding: 10px;
  background: #aaacff;
  border: 0px;
  border-radius: 20px 20px 20px 20px;
  min-height: 300px;
 }

 .post-name {
  padding: 10px;
  text-align: left;
 }
 
 .post-text {
  padding: 10px;
  max-height: 150px;
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;
 }

.link-button:link, .link-button:visited {
  background-color: #f1e6e4;
  color: black;
  border: 2px solid;
  border-color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.link-button:hover, .link-button:active {
  background-color: #333;
  color: white;
}

.post-photo-block {
  width: 640px;
  height: 480px;
}

.post-photo {
  width: 500px;
  height: 300px;
}

.buffer-both{
  margin-bottom: 50px;
}

